<mat-dialog-content>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input
        matInput
        placeholder="ejemplo@gmail.com"
        type="email"
        [(ngModel)]="emailAccount"
        name="email"
        #email="ngModel"
        required
        >
        <mat-error *ngIf="email.invalid
        || (email.dirty && email.touched)">
            Este dato es necesario
        </mat-error>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions
style="display: flex; justify-content: space-around;">
    <button mat-raised-button
    (click)="dialog.close()"
    >Cancelar</button>
    <button mat-raised-button
    (click)="loginS.editPwd(emailAccount)"
    (click)="dialog.close()"
    >Envíar</button>
</mat-dialog-actions>
