[submodule "src/app/store-module"]
	path = src/app/gdev-store
	url = https://github.com/jgu7man/gdev-store-module
[submodule "src/app/panel"]
	path = src/app/gdev-panel
	url = https://github.com/jgu7man/gdev-panel
[submodule "src/app/gdev-tools"]
	path = src/app/gdev-tools
	url = https://github.com/jgu7man/gdev-tools
