
<app-hero></app-hero>
<div class="container">
  <div class="row">
    <div class="col s12">
      <section id="servicios-zone">
        <h2 class="center" >Nuestros servicios</h2>
        <div class="row tarjetas">
          <div class="tarjeta">
              <div class="face face1">
                  <div class="content">
                      <i class="fas fa-pills"></i>
                      <h4 class="white-text">Farmacia</h4>
                  </div>
              </div>
              <div class="face face2">
                  <div class="content">
                      <ul>
                        <li> <span>
                          <i class="fas fa-plus"></i>
                        </span> Medicamentos genéricos</li>
                        <li> <span>
                          <i class="fas fa-plus"></i>
                        </span> Medicamentos de patentes</li>
                        <li> <span>
                          <i class="fas fa-plus"></i>
                        </span> Dispositivos médicos</li>
                        <li> <span>
                          <i class="fas fa-plus"></i>
                        </span> Dispositivos ortopédicos</li>
                        <li> <span>
                          <i class="fas fa-plus"></i>
                        </span> Envíos a domicilio locales y nacionales</li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="tarjeta">
              <div class="face face1">
                  <div class="content">
                      <i class="fas fa-flask"></i>
                      <h4 class="white-text">Laboratorio de análisis clínicos</h4>
                  </div>
              </div>
              <div class="face face2">
                  <div class="content">
                      <ul>
                        <li> <span>
                          <i class="fas fa-plus"></i>
                        </span> Más de 600 opciones</li>
                        <li> <span>
                          <i class="fas fa-plus"></i>
                        </span> Entrega de resultados el mismo día</li>
                        <li> <span>
                          <i class="fas fa-plus"></i>
                        </span> Toma de muestras a domicilio</li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="tarjeta">
              <div class="face face1">
                  <div class="content">
                      <i class="fas fa-user-md"></i>
                      <h4 class="white-text">Servicio médicos</h4>
                  </div>
              </div>
              <div class="face face2">
                  <div class="content">
                      <ul>
                        <li> <span>
                          <i class="fas fa-plus"></i>
                        </span> Control de enfermedades crónicas y degenerativas</li>
                        <li> <span>
                          <i class="fas fa-plus"></i>
                        </span> Curaciones y suturas</li>
                        <li> <span>
                          <i class="fas fa-plus"></i>
                        </span> Atención de niñas y niños de todas las edades</li>
                        <li> <span>
                          <i class="fas fa-plus"></i>
                        </span> Control prenatal</li>
                        <li> <span>
                          <i class="fas fa-plus"></i>
                        </span> Métodos anticoneptivos</li>
                        <li> <span>
                          <i class="fas fa-plus"></i>
                        </span> Servicio a domicilio</li>
                        <li> <span>
                          <i class="fas fa-plus"></i>
                        </span> Telemedicina</li>
                        <li> <span>
                          <i class="fas fa-plus"></i>
                        </span> Medicina laboral</li>
                      </ul>
                  </div>
              </div>
          </div>
        </div>
      </section>
      <section id="otros-servicios">
        <h2 class="center" >Servicios especiales</h2>
        <div class="row">
          <div class="col s12 m6 first">
            <h3>Electro cardiograma</h3>
            <ul>
              <li>
                <span><i class="fas fa-plus"></i></span>
                Interpretación por especialista
              </li>
              <li>
                <span><i class="fas fa-plus"></i></span>
                Resultados impresos el mismo día
              </li>
              <li>
                <span><i class="fas fa-plus"></i></span>
                Espacio cómodo y seguro
              </li>
              <li>
                <span><i class="fas fa-plus"></i></span>
                Desinfección de espacio y equipo
              </li>
              <li>
                <span><i class="fas fa-plus"></i></span>
                Personal capacitado
              </li>
              <li>
                <span><i class="fas fa-plus"></i></span>
                Servicio a domicilio
              </li>
            </ul>
          </div>
          <div class="col s12 m6 second">
            <h3>Espirometría</h3>
            <ul>
              <li>
                <span><i class="fas fa-plus"></i></span>
                Interpretación por especialista
              </li>
              <li>
                <span><i class="fas fa-plus"></i></span>
                Equipo y espacios desinfectados
              </li>
              <li>
                <span><i class="fas fa-plus"></i></span>
                Personal capacitado
              </li>
              <li>
                <span><i class="fas fa-plus"></i></span>
                Servicio a domicilio
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
