<div class="container">
  <div class="row">
    <div class="col s12 full-screen">
      <h1>BIONUMEDICS</h1>
      <p>Estamos trabajando para ti.</p>
      <h3>Próximamente</h3>
      <div class="imgContainer">
        <img src="/assets/img/4.png" alt="">
      </div>
    </div>
  </div>


  <div class="row footer">
    <div class="col s12 m4">
      <p class="center"> <i class="fas fa-whatsapp"></i> 52 (312) 593 9394 </p>
    </div>
    <div class="col s12 m4">
      <p class="center"> <i class="fas fa-facebook"></i> <a href="https://www.facebook.com/Bionumedics">Facebook</a> </p>
    </div>
    <div class="col s12 m4">
      <p class="center"> <i class="fas fa-instagram"></i>  <a href="https://www.instagram.com/medicis.col/?fbclid=IwAR1CP3HfGS0amRsAQD7EHhWsSstlJTfet2obCCtpWJUAEHq7qBsakokjtHk">Instagram</a> </p>
    </div>
    <div class="col s12">
      <p class="center"> AV. LAPISLAZULI 204, EL HAYA <br>
        Villa de Álvarez, Colima, México <br>
      </p>
    </div>
  </div>
</div>
